<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.budget.mapper.MemberMapper">

    <insert id="insert">
        insert into member(id,name,username,password,sex,create_time,update_time,create_user,update_user,family_id)
        values(#{id},#{name},#{username},#{password},#{sex},#{createTime},#{updateTime},#{createUser},#{updateUser},#{familyId})
    </insert>
    <update id="update">
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
    </update>

    <delete id="deleteById">
        delete from member where id = #{id}
    </delete>

    <select id="getMemberByFamilyId" resultType="com.budget.vo.MemberVO">
        select
        id,
        name
        from member
        where family_id = #{familyId}
    </select>


</mapper>